<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/lux/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <!-- Entête -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/blog#">MonSite</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/home"/">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/information"/about">Pour en savoir plus</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/CV"/">CV</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/Eportfolio"/">Eportfolio</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenu principal -->
    <main class="container mt-4">
      {% block body %}
      
      <section>
      <h1>Mon objectif de métier</h1>
      <p>Je voudrais devenir Pentester</p>
      </section>
     
      <section>
      <h2>Formations</h2>
      <ul>
        <li>Bac général scientifique </li>
        <li>But Réseaux et Télécommunications</li>
        <li>Certifications (MOOC ANSSI,...)</li>
      </ul>
      </section>
      
      <section>
      <h2>Expériences professionnelles</h2>
      <ul>
        <li>Stage en sécurité informatique</li>
        <li>Projet de laboratoire de hack</li>
        <li>Projet de test d’intrusion</li>
      </ul>
      </section>
      
      <section>
      <h2>Compétences</h2>
      <ul>
        <li>Création et configuration de Vlan</li>
        <li>Création de sites web simples</li>
        <li>Programmation (Python, Bash...)</li>
      </ul>
      </section>

      {% endblock %}
    </main>

    <!-- Pied de page -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
      <p>&copy; 2026 - MonSite. Tous droits réservés.</p>
    </footer>

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </body>
</html>