<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/lux/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <!-- Entête -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/blog#">MonSite</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/fr/home">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/fr/information">Pour en savoir plus</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/fr/CV">CV</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/fr/Eportfolio">Eportfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/blog/en/enEportfolio">ENG</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenu principal -->
    <main class="container mt-4">
      {% block body %}
      <div class="container my-5">

    <h1 class="text-center mb-4">Mon E-Portfolio</h1>
    <p class="lead text-center mb-5">Voici mon E-portfolio</p>

    <section class="mb-5">
        <h2>Description</h2>
        <p>Voici les compétences critiques acquises durant mon parcours.</p>
    </section>

    <section class="mb-5">
        <h2>Compétences critiques</h2>

        <!-- Bloc compétence critique 1 -->
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">AC11.02 Comprendre l’architecture et les fondements des systèmes numériques, les principes du codage de l’information, des communications et de l’Internet</h3>
                <p class="card-text">Dans cet apprentissage, nous avons pour objectif de comprendre un système numérique.</p>
                
                <!-- Ressenti -->
                <div class="mt-3 mb-3">
                    <h5>Mon ressenti et positionnement</h5>
                    <p>Je considère avoir bien acquis les bases attendues cette compétences.</p>
                </div>

                <!-- Boutons -->
                <a href="https://docs.google.com/document/d/15mnCg5NomCo8cHnBrEaLRBNuB4z7HbPigJx3_7gyDYM/edit?tab=t.0#heading=h.79zyscas4ezb" class="btn btn-primary me-2">Analyse réflexive</a>
                <a href="https://docs.google.com/document/d/1T7UPlDQaa5WCXquDHogZmhpZHoR_K_PBf5RdSQYlLf0/edit?tab=t.0" class="btn btn-secondary">Document de preuve</a>
            </div>
        </div>



        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">AC11.03: Configurer les fonctions de base du réseau local</h3>
                <p class="card-text">Dans cet apprentissage l’objectif est est savoir comment configurer les base d’un réseaux</p>

                <div class="mt-3 mb-3">
                    <h5>Mon ressenti et positionnement</h5>
                    <p>J’ai aimé travaillé cette compétence malgré des difficultés.</p>
                </div>

                <a href="https://docs.google.com/document/d/1Xj01jG1sJFYxRMf4YkrNdN11p5h_kw9dSH1ukkh40h8/edit?tab=t.0" class="btn btn-primary me-2">Analyse réflexive</a>
                <a href="https://docs.google.com/document/d/11u88FJLN-KQUvPDy39HkSn0l-RsHpWnYQO_wkyh9064/edit?tab=t.0" class="btn btn-secondary">Document de preuve</a>
            </div>
        </div>



        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">AC11.04 Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration et l’administration des réseaux et services fournis</h3>
                <p class="card-text">Cette compétence contribue à la création et la configuration de postes clients virtuels, à la compréhension de ce qu’est un OS ainsi que les conséquences des cyberattaques et comment s’en protégés, l’apprentissages des différents protocoles du modèle OSI, l’analyse des trames.</p>

                <div class="mt-3 mb-3">
                    <h5>Mon ressenti et positionnement</h5>
                    <p>J’ai aimé travaillé cette compétence et j'ai bien progressé dans ce domaine.</p>
                </div>

                <a href="https://docs.google.com/document/d/1SZ5QvreX5pm-AOMe_prTAdwuNdHRKFbEwejGGrYuQMg/edit?tab=t.0#heading=h.79zyscas4ezb" class="btn btn-primary me-2">Analyse réflexive</a>
                <a href="https://docs.google.com/document/d/1jHtHzXmQbx2Qs93ShMF_FLv6rranZcjWeVg9r0Ark2Q/edit?tab=t.0" class="btn btn-secondary">Document de preuve</a>
            </div>
        </div>
        
        <div style="height: 30px;"></div>


    <section>
      <h2>Mon ressenti et mon positionnement</h2>
        <p>Le BUT RT me convient parfaitement car il correspond à mes aspirations professionnelles et à mon intérêt pour le développement informatique.</p>
      </section>
  </section>
    <div style="height: 30px;"></div>
  </div>
      {% endblock %}
    </main>

    <!-- Pied de page -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
      <p>&copy; 2026 - MonSite. Tous droits réservés.</p>
    </footer>

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </body>
</html>